<div ng-include="'<%= asset_path 'nav.html' %>'" onload="partialOnLoad()"></div>

<%# We need to load the count before the controller %>
<div ng-switch='idols.length'>
  <div ng-switch-when="0" class="row">
    <div class="large-8 large-centered columns">
      <div class="panel text-center">
        <h5>You haven't followed anyone yet</h5>
        <a href="/follow" class="find-follower-button">Find someone to follow</a>
      </div>
    </div>
  </div>


  <%# Feed %>
  <div ng-switch-default>
    <div class="row" infinite-scroll="more()" infinite-scroll-disabled="done" infinite-scroll-distance="1" ng-cloak>
      <div class="small-12 large-12 columns">
        <div class="row box" ng-repeat="item in items">
          <div class="small-12 text-center large-4 columns">
            <a class="th radius" href="{{item.url}}">
              <img ng-src="{{item.screenshot}}" style="width:100%;max-height:150px;min-height:150px;" >
              <span class="owner-image"><img ng-src="{{item.owner_gravatar}}" width="35" height="35" ></span>
              <span class="popularity-overlay">{{item.popularity}}</span>
            </a>
          </div>
          <div class="small-12 large-8 columns">
            <div class="row">
              <div class="small-12 large-12 columns title">
                <span ng-class="{'parse-error':!item.title_ok}">{{item.title}}</span>
              </div>
            </div>
            <div class="row">
              <div class="small-12 large-12 columns description">
                <span ng-class="{'parse-error':!item.description_ok}">{{item.description}}</span>
              </div>
            </div>
            <div class="row bottom">
              <div class="small-6 large-6 columns">
                <a class="url" href="http://{{item.domain}}">{{item.domain}}</a>
              </div>
              <div class="small-6 large-6 columns text-right">
                <span class="saved-on">Saved {{item.time_ago}} ago by <strong>{{item.owner}}</strong></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

