<div ng-include="'<%= asset_path 'nav.html' %>'" onload="partialOnLoad()"></div>

<div class="row">
  <div class="large-6 columns">

    <div ng-switch='idols.length'>
      <div ng-switch-when="0" class="panel callout text-center">
        <h5>You haven't followed anyone yet</h5>
      </div>

      <%# Idols %>
      <div ng-switch-default>
        <h3>You are following: </h3>
        <div class="row follow-user" ng-repeat="user in idols">
          <div class="large-3 columns">
            <img ng-src="{{user.gravatar}}" />
          </div>
          <div class="large-5 columns">
            <span>{{user.email}}</span>
          </div>
          <div class="large-4 text-center columns">
            <a class="unfollow-button" ng-click="unfollow(user)">Unfollow</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="large-6 columns">
    <%# Search bar %>
    <div class="row">
      <div class="small-12 large-12 text-center columns search" ng-class="{'searching':searching}">
        <input ng-model="query" placeholder="Find your friend via email" autofocus>
      </div>
    </div>

    <br>

    <div infinite-scroll="more()" infinite-scroll-disabled="done" infinite-scroll-distance="1" ng-cloak>
      <div class="row follow-user" ng-repeat="user in users">
        <div class="large-3 columns">
          <img ng-src="{{user.gravatar}}" />
        </div>
        <div class="large-5 columns">
          <span>{{user.email}}</span>
        </div>
        <div class="large-4 text-center columns" ng-switch="user.is_idol">
          <a ng-switch-when="true" class="unfollow-button" ng-click="unfollow(user)">Unfollow</a>
          <a ng-switch-default class="follow-button" ng-click="follow(user)">Follow</a>
        </div>
      </div>
    </div>

  </div>
</div>



