<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0
Version: 1.5.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>Metronic | Extra - User Profile</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<meta name="MobileOptimized" content="320">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->          
        <%= stylesheet_link_tag "metronic/assets/plugins/font-awesome/css/font-awesome.min.css" %>
        <%= stylesheet_link_tag "metronic/assets/plugins/bootstrap/css/bootstrap.min.css" %>
        <%= stylesheet_link_tag "metronic/assets/plugins/uniform/css/uniform.default.css" %>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
        <%= stylesheet_link_tag "metronic/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" %>
	<!-- END PAGE LEVEL STYLES -->
	<!-- BEGIN THEME STYLES --> 
        <%= stylesheet_link_tag "metronic/assets/css/style-metronic.css" %>
        <%= stylesheet_link_tag "metronic/assets/css/style.css" %>
        <%= stylesheet_link_tag "metronic/assets/css/style-responsive.css" %>
        <%= stylesheet_link_tag "metronic/assets/css/plugins.css" %>
        <%= stylesheet_link_tag "metronic/assets/css/themes/default.css", id: "style_color" %>
        <%= stylesheet_link_tag "metronic/assets/css/pages/profile.css" %>
        <%= stylesheet_link_tag "metronic/assets/css/custom.css" %>
	<!-- END THEME STYLES -->
        <script>
        THEME = "<%= @theme %>"
        </script>
        <%= javascript_include_tag "application" %>
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed" ng-view>
</body>
<!-- END BODY -->
</html>
