[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.debug {
  position: fixed;
  top: 0;
  width: 30%;
  background-color: black;
  color: white;
  font-family: monospace;
  left: 40%;
  padding: 1em;
  z-index: 99999;
  ul {
    list-style: none;
    margin: 0;
  }
}

.container {
  padding-top: 55px;
}

.top-bar {
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}
