$my-green: #44B39D;
$my-blue: #5399C7;
$my-red: #C0392B;
$my-grey: #CACFD2;
$my-light-grey: #EBEFF1;
$radius: 10px;

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: image-url($image);
    background-size: $width $height;
  }
}

@mixin icons {
  background-image: image-url('icons-white.png');
  @include image-2x('icons-white@2x.png', 240px, 140px);
}

@mixin logo {
  background-image: image-url('logo.png');
  @include image-2x('logo@2x.png', 925px, 280px);
}

@mixin nav-logo {
  background-image: image-url('nav-logo.png');
  @include image-2x('nav-logo@2x.png', 250px, 55px);
}

@mixin search-loader {
  background-image: image-url('search-loader.gif');
  @include image-2x('search-loader@2x.gif', 40px, 40px);
}

$raleway-thin: 'Raleway-Thin', 'Raleway', sans-serif;
@mixin raleway-thin {
  font-family: $raleway-thin;
  font-weight: 100;
}

@mixin big-button($color, $full-width: false) {
  $button-margin-bottom: 0;
  $button-border-width: 0;
  $button-font-family: $raleway-thin;
  $button-font-weight: 100;
  $padding: 0.5em;
  $radius: 10px;
  @include button-base;
  @include button-size($padding, $full-width);
  @include button-style($color, $radius);
  font-size: 2.25em;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

@mixin small-button($color, $full-width: false) {
  $button-margin-bottom: 0;
  $button-border-width: 0;
  $button-font-family: $raleway-thin;
  $button-font-weight: 100;
  $padding: 0.5em;
  $radius: 10px;
  @include button-base;
  @include button-size($padding, $full-width);
  @include button-style($color, $radius);
  font-size: 1.25em;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

