html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Raleway', 'Raleway-Thin', sans-serif;
}

#container {
  width: 100%;
  background-color: #ecf0f1;
  line-height: 100px;
  height: 100px;
  text-align: center;
}

h1 {
  color: #3498db;
  font-size:40px;
  padding-top: 10px;
  font-weight: 100;
  height: 40px;
  line-height:40px;
}

h1.no-input {
  height: 100px;
  line-height: 100px;
  padding-top: 0px;
}

.success {
  color: #2ecc71;
  background-image: url("heart.png");
  background-repeat: no-repeat;
  background-position: right 10px;
  display: inline-block;
  padding-right: 40px;
}

.error {
  color: #c0392b;
}

.loading {
  background-image: url("loader.gif");
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block;
  padding-right: 40px;
}

#container form {
  height: 50px;
  line-height: 50px;
}

#container form input[type=text] {
  font-size: 14px;
  padding: 5px 10px;
  height: 40px;
  margin: 5px;
  font-family: Raleway;
  width: 700px;
  border: none;
  border-radius: 5px;

}

.tag {
  background-image: url("tag.png");
  background-repeat: no-repeat;
  padding-left: 40px !important;
  background-size: 25px 25px;
  background-position: 10px center;
}

#container form input[type=submit] {
    height: 40px;
    width: 100px;
    font-size: 14px;
    font-family: Raleway;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #ecf0f1;
}

@media (min--moz-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (-webkit-min-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {
  .loading {
    background-image: url("loader@2x.gif");
    background-size: 40px 40px;
  }
  .success {
    background-image: url("heart@2x.png");
    background-size: 40px 40px;
  }
  .tag {
    background-image: url("tag@2x.png");
    background-size: 25px 25px;
  }
}

