# Initalize Angular
window.App = angular.module('Drawer', ['ngResource', 'ngCookies', 'infinite-scroll'])

# Make sure to pass the CSRF token
App.config ["$httpProvider", ($httpProvider) ->
  $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name="csrf-token"]').attr('content')
]

###
App.config ["$httpProvider", '$locationProvider', ($httpProvider, $locationProvider) ->
  interceptor = ['$location', '$q', ($location, $q) ->
    success = (response) -> response
    error = (response) ->
      if response.status == 401
        $location.path('/login')
        return $q.reject(response)
      else
        return $q.reject(response)
    return (promise) -> return promise.then(success, error)
  ]
  $httpProvider.responseInterceptors.push(interceptor)
]
###

# Grab the auth_token from the cookie and set it on the request header if the
# request is a local request. This is because the partials are hosted on S3, and
# CORS request don't like the Authorization header. Otherwise the previous
# approach of setting a global default header is much simpler
App.factory('http-interceptor', ['$q', '$cookieStore', ($q, $cookieStore) ->
  return {
    'request': (config) ->
      if !/^(https?:)?\/\//i.test(config.url)
        config.headers['Authorization'] = "Token token=\"#{$cookieStore.get('auth_token')}\""
      return config || $q.when(config)
  }
])

App.config ["$httpProvider", '$locationProvider', ($httpProvider, $locationProvider) ->
  $httpProvider.interceptors.push('http-interceptor')
]

App.run ['$rootScope', 'Session', ($rootScope, Session) ->
  $rootScope.session = Session

  # FIXME Investigate this more. Currently Foundation's topbar's javascript
  # doesn't work, specifically the 'menu' icon.
  $rootScope.partialOnLoad = ->
    $(document).foundation()

  <%# $rootScope.$on('$viewContentLoaded', () -> %>
    <%# console.log("called") %>
    <%# $(document).foundation() %>
  <%# ) %>
]

# Configure routes
App.config ['$routeProvider', ($routeProvider) ->
  $routeProvider.when('/',
    {
      templateUrl: '<%= asset_path "index.html" %>',
      controller: 'HomeController',
      resolve: {
        user: ['Session', (Session) -> return Session.checkSignIn()]
      }
    }
  ).when('/logout',
    {
      templateUrl: '<%= asset_path "index.html" %>',
      controller: 'HomeController',
      resolve: {
        user: ['Session', (Session) -> return Session.checkSignIn()]
      }
    }
  ).when('/profile',
    {
      templateUrl: '<%= asset_path "profile.html" %>',
      controller: 'HomeController',
      resolve: {
        user: ['Session', (Session) -> return Session.checkSignIn()]
      }
    }
  ).when('/clients',
    {
      templateUrl: '<%= asset_path "clients.html" %>',
      controller: 'ClientsController',
      resolve: {
        user: ['Session', (Session) -> return Session.checkSignIn()]
      }
    }
  ).when('/feed',
    {
      templateUrl: '<%= asset_path "feed.html" %>',
      controller: 'FeedController',
      resolve: {
        user: ['Session', (Session) -> return Session.checkSignIn()]
      }
    }
  ).when('/follow',
    {
      templateUrl: '<%= asset_path "follow.html" %>',
      controller: 'FollowController',
      resolve: {
        user: ['Session', (Session) -> return Session.checkSignIn()]
      }
    }
  )
  <%# $routeProvider.otherwise({redirectTo: '/'}) %>
]

# Turn on html5mode
App.config ['$locationProvider', ($locationProvider) ->
  $locationProvider.html5Mode(true)
  <%# $locationProvider.hashPrefix('!') %>
]

$(document).on 'ready', -> angular.bootstrap(document, ['Drawer'])
