<% if %w(staging production).include?(ENV['RAILS_ENV']) %>
var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
<% if 'production' == ENV['RAILS_ENV'] %>
analytics.load("qghyv89v8v");
<% else %>
analytics.load("x3mjhqmclw");
<% end %>
// Make this work with Turbolinks
$(document).on('page:load', function() {
  analytics.pageview();
});
<% end %>
