.chrome-extension-button {
  @include big-button($my-blue);
}

.safari-extension-button {
  @include big-button($my-blue);
}

.firefox-extension-button {
  @include big-button($my-blue);
}

@mixin browser-logo-small($browser) {
  background-image: image-url($browser+'-sm.png');
  @include image-2x($browser+'-sm@2x.png', 128px, 128px);
  background-repeat: no-repeat;
}

h1.also-available {
  line-height:128px;

  .highlight {
    color: $my-green;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 128px;
    width: 128px;
  }

  .firefox-sm { @include browser-logo-small('firefox'); }
  .safari-sm { @include browser-logo-small('safari') };
  .chrome-sm { @include browser-logo-small('chrome') };
}
