.follow-user {
  @include raleway-thin;

  line-height:75px;
  margin-bottom: 5px !important;

  > div:nth-child(1) {
    line-height:0;
  }

  span {
    font-size: 0.8em;
  }

  img {
    min-height:75px;
    min-width:75px;
  }

  .follow-button {
    @include small-button($my-green);
  }

  .unfollow-button {
    @include small-button($my-red);
  }
}
