/* Styles for the landing page */
nav.top-bar .divider {
  border-right: none !important;
}
// Deprecated
.profile-button {
  $dropdown-button-padding-med: $button-med * 5 + emCalc(3px);
  $button-border-width: 0;
  $button-margin-bottom: 0;
  display: block !important;
  line-height: 0 !important;
  @include button-base;
  @include button-style($my-green);
  @include dropdown-button;
}
.profile-dropdown {
  padding-left: 0px !important;
  img {
    vertical-align:top;
  }
}
.notification-button {
  $dropdown-button-padding-med: $button-med * 5 + emCalc(3px);
  $button-border-width: 0;
  $button-margin-bottom: 0;
  display: block !important;
  line-height: 0 !important;
  @include button-base;
  @include button-style($my-green);
  @include dropdown-button;
}

#profile-dropdown {
  $content: list;
  $triangle: false;
  /* $f-dropdown-bg: $my-green; */
  /* $f-dropdown-border-width: 0; */
  $f-dropdown-font-size: emCalc(15px);
  /* $f-dropdown-list-padding: 0; */

  @include dropdown-container($content, $triangle);
  li {
    width: 100%;
    /* background-color: $my-green; */
    @include dropdown-style;
    a {
      /* background-color: $my-green; */
      /* @include raleway-thin; */
      /* color: #fff; */
      color: #666;
      &:hover {
        background-color: #666;
        /* color: #4a4a4a; */
        color: #fff;
      }
    }
  }
}

#notification-dropdown {
  $content: list;
  $triangle: false;
  $max-width: 500px;
  /* $f-dropdown-bg: $my-green; */
  /* $f-dropdown-border-width: 0; */
  $f-dropdown-font-size: emCalc(15px);
  $f-dropdown-list-padding: 5px;

  @include dropdown-container($content, $triangle, $max-width);
  li {
    width: 100%;
    /* background-color: $my-green; */
    @include dropdown-style;
    a {
      /* background-color: $my-green; */
      /* @include raleway-thin; */
      /* color: #fff; */
      line-height: emCalc(20px);
      color: #666;
      &:hover {
        background-color: #666;
        /* color: #4a4a4a; */
        color: #fff;
      }
    }
  }

  strong {
    color: $my-blue;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }
}

#notification-button {
  position: relative;
  width: 55px;
  height: 55px;
  a {
    @include icons;
    background-position: -100px 0px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    opacity: 0.6;
    padding: 0;
    position: absolute;
    width: 38px;
    height: 38px;
    left: 17px;
    top: 17px;
  }
}

.sign-in-button {
  @include big-button($my-green);
}

.sign-in-button-modal {
  @include big-button($my-green, true);
  margin-right: 10px;
}

.sign-up-button {
  @include big-button($my-blue, true);
}

// FIXME Hmm there's gotta be a better way to customize this with SASS
.top-bar .top-bar-section ul{
  line-height: 75px;
}
.top-bar .top-bar-section .has-form {
  padding: 0;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

// Styling the input box
#sign-up-form, #sign-in-form {
  input[type="text"],
  input[type="password"] {
    border-radius: $radius;
    border: 2px solid $my-blue;
    padding: 0.5em;
    font-size: 2em;
    @include raleway-thin;
  }
  @include placeholder {
    @include raleway-thin;
    color: $my-grey;
  }
}

@mixin input-icon($x, $y) {
  position: relative;
  &:after {
    @include icons;
    background-position: $x $y;
    background-repeat: no-repeat;
    opacity: 0.4;
    content:" ";
    position: absolute;
    top: 1em;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  input {
    padding-right: 50px !important;
  }
}

.input-icon.email {
  @include input-icon(0, -40px);
}

.input-icon.password {
  @include input-icon(-40px, -40px)
}

// Error conditions
.bottom-no-corner {
  border-radius: $radius $radius 0 0 !important;
}

.logo {
  @include logo;
  background-repeat: no-repeat;
  width: 925px;
  height: 280px;
  text-indent: -9999px;
  margin-bottom: 50px;
}

#nav-logo {
  @include nav-logo;
  background-repeat: no-repeat;
  width: 250px;
  height: 55px;
  text-indent: -9999px;
  /* margin-top: 5px; */
  /* margin-left: 10px; */
}

#blurb {
  h1, h2 {
    @include raleway-thin;
  }
  h1 {
    font-size: 2em;
    margin: 1em 0 0 0;
  }
  h2 {
    font-size: 1.5em;
    margin: 0;
    color: $my-grey;
  }

  @mixin blurb($x, $y) {
    &:before {
      @include icons;
      background-position: $x $y;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      top: 2.5em;
      content:" ";
      position: absolute;
    }
    > div {
      padding-left: 90px;
    }
  }

  > div:nth-child(1) {
    @include blurb(-60px, -80px);
  }
  > div:nth-child(2) {
    @include blurb(-120px, -80px);
    padding-left: 40px;
  }
  > div:nth-child(3) {
    @include blurb(-180px, -80px);
    padding-left: 80px;
    h1 {
      display: inline-block;
    }
  }
  .heart {
    display:inline-block;
    vertical-align:bottom;
    margin-bottom: 5px;
    @include icons;
    background-position: -80px -40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
}

#sign-up-section {
  border-radius: 6px;
  margin-top: 2em;
  padding: 2em;
  background-color: $my-light-grey;
  form {
    margin: 0;
  }
}

div.search.searching:after {
    @include icons;
    content:" ";
    position: absolute;
    top: 1em;
    right: 10px;
    width: 40px;
    height: 40px;
    @include search-loader;
    background-repeat: no-repeat;
}
