// Styles for the main items page
.box {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #77C1EA;

  strong {
    font-size: 12px;
    color: black;
  }

  .owner-image {
    position: absolute;
    left: 19px;
    bottom: 4px;
  }

  .popularity-overlay {
    position: absolute;
    right: 18px;
    bottom: 6px;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #d35400;
    color: #ecf0f1;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 2px;
  }
}

.title {
  @include raleway-thin;
  font-size: 30px;
  color: #57D68D;
  height: 35px;
  line-height: 37px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
  height: 102px;
  overflow: hidden;
}

.url {
  @include raleway-thin;
  font-size: 14px;
  color: #9B9B9B;
  line-height: 20px;
}

.saved-on {
  @include raleway-thin;
  font-size: 14px;
  color: #9B9B9B;
  line-height: 20px;
}

.parse-error {
  color: #D70014 !important;
}

.bottom {
  overflow: hidden;
  white-space: nowrap;
}

.thumbnail {
  line-height: 160px;
}

.thumbnail img {
  vertical-align: middle;
}
#item-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
}

#item-content .item-content-title {
  font-family: 'Open Sans', sans-serif;
  /* font-size: 14px; */
  color: #4A4A4A;
}

.search {
  border-radius: 6px;
  background: #4A4A4A;
  padding: 0px !important;
}

.search input {
  margin: 0px;
  background: #4A4A4A;
  border: none;
  width: 100%;
  font-size: 30px;
  color: #ecf0f1;
  @include raleway-thin;
  background: image-url('search.png') no-repeat 18px 18px;
  @include image-2x("search@2x.png", 26px, 26px);
  padding-left: 64px;
  padding-top:15px;
  padding-bottom:15px;
}

.query input.loading {
  background-image: image-url('ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: right 5px center;
  /* This appears to be needed for Chrome on Mac at least */
  display: inline;
}

.icon {
  @include icons;
  background-repeat: no-repeat;
  height:20px;
  width:20px;
  display:inline-block;
  opacity:0.8;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

.icon-actionable:hover {
  background-image: image-url('icons-red.png');
  @include image-2x("icons-red@2x.png", 100px, 80px);
  cursor:pointer;
}

.icon-read {
  background-position: -60px 0;
}
.icon-delete {
  background-position: -20px 0;
}
// Consider using FontAwesome. It makes stuff like this so much easier
.icon-refresh {
  background-position: -40px 0;
}
.icon-email {
  background-position: -80px 0;
}
.icon-password {
  background-position: 0 -20px;
}
.spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.screenshot-loading {
  position: absolute;
  right: 20px;
  bottom: 5px;
}
