<div ng-include="'<%= asset_path 'nav.html' %>'" onload="partialOnLoad()"></div>

<div class="row">
  <div ng-switch="browser">
    <div ng-switch-when="Chrome" class="large-6 large-centered text-center columns">
      <img src="<%= asset_path('chrome.png') %>" />
      <a chrome-extension class="chrome-extension-button" ng-click="install()">Add to Chrome</a>
    </div>
    <div ng-switch-when="Safari" class="large-6 large-centered text-center columns">
      <img src="<%= asset_path('safari.png') %>" />
      <a target="_self" href="<%= asset_path('drawer.safariextz') %>" class="safari-extension-button">Add to Safari</a>
    </div>
    <div ng-switch-when="Firefox" class="large-6 large-centered text-center columns">
      <img src="<%= asset_path('firefox.png') %>" />
      <a target="_self" href="<%= asset_path('drawer.xpi') %>" class="firefox-extension-button">Add to Firefox</a>
    </div>
    <div ng-switch-default class="large-12 text-center columns">
      <h1>Sorry, {{browser}} is currently not supported</h>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div ng-switch="browser">
    <div ng-switch-when="Chrome" class="large-10 large-centered text-center columns">
      <h1 class="also-available">
        Also <span class="highlight">available</span> on
        <a target="_self" href="<%= asset_path('drawer.safariextz') %>" class="safari-sm">Safari</a> and
        <a target="_self" href="<%= asset_path('drawer.xpi') %>" class="firefox-sm">Firefox</a>
      </h1>
    </div>
    <div ng-switch-when="Safari" class="large-10 large-centered text-center columns">
      <h1 class="also-available">
        Also <span class="highlight">available</span> on
        <a target="_self" ng-href="{{chromeUrl}}" class="chrome-sm">Chrome</a> and
        <a target="_self" href="<%= asset_path('drawer.xpi') %>" class="firefox-sm">Firefox</a>
      </h1>
    </div>
    <div ng-switch-when="Firefox" class="large-10 large-centered text-center columns">
      <h1 class="also-available">
        Also <span class="highlight">available</span> on
        <a target="_self" ng-href="{{chromeUrl}}" class="chrome-sm">Chrome</a> and
        <a target="_self" href="<%= asset_path('drawer.safariextz') %>" class="safari-sm">Safari</a>
      </h1>
    </div>
  </div>
</div>


