<%# In prod, only show the logo %>
<% if Rails.env.production? %>
  <div class="row">
    <div class="text-centered" style="margin-top:200px">
      <div class="logo"></div>
    </div>
  </div>
<% else %>
<div ng-include="'<%= asset_path 'nav.html' %>'" onload="partialOnLoad()"></div>

<div ng-switch='signedIn'>
  <div ng-switch-when="true">
    <div class="row" ng-controller="ItemController">

      <%# Show debug info for ItemController %>
      <% if Rails.env.development? %>
      <div class="debug">
        <ul>
          <li>$scope.items.length = {{items.length}}</li>
          <li>$scope.done = {{done}}</li>
        </ul>
      </div>
      <% end %>

      <%# Add link bar %>
      <div class="row collapse" style="font-size:1.5em">
        <form name="form" ng-submit="save()">
          <input type="hidden" ng-model="item.client" />
          <div class="small-2 large-2 columns">
            <span class="prefix">http://</span>
          </div>
          <div class="small-8 large-8 columns query">
            <input ng-class="{'loading':loading}" ng-change="error = null" type="text" ng-model="item.url" placeholder="Add a link..." required />
          </div>
          <div class="small-2 large-2 columns">
            <input ng-disabled="loading || form.$invalid" ng-class="{'disabled': loading || form.$invalid}" type="submit" value="Add" class="button prefix">
          </div>
        </form>
      </div>

      <%# Alert bar %>
      <div class="row">
        <div class="small-12 large-12">
          <div ng-show="error != null" class="alert-box alert radius" ng-cloak>{{error}}<a href="#" class="close">&times;</a></div>
        </div>
      </div>

      <%# Search bar %>
      <div class="row">
        <div class="small-12 large-12 text-center columns search" ng-class="{'searching':searching}">
          <input ng-model="query" autofocus>
        </div>
      </div>

      <%# Items list %>
      <div class="row" infinite-scroll="more()" infinite-scroll-disabled="done" infinite-scroll-distance="1" ng-cloak>
        <div class="small-12 large-12 columns">
          <div class="row box" ng-repeat="item in items">
            <div class="small-12 text-center large-4 columns">
              <a class="th radius" href="{{item.url}}">
                <img ng-src="{{item.screenshot}}" style="width:100%;max-height:150px;min-height:150px">
                <a ng-show="item.loading_screenshot" class="spin icon icon-refresh screenshot-loading"></a>
                <span ng-show="!item.loading_screenshot" class="popularity-overlay">{{item.popularity}}</span>
              </a>
            </div>
            <div class="small-12 large-8 columns">
              <div class="row">
                <div class="small-12 large-12 columns title">
                  <span ng-class="{'parse-error':!item.title_ok}">{{item.title}}</span>
                </div>
              </div>
              <div class="row">
                <div class="small-12 large-12 columns description">
                  <span ng-class="{'parse-error':!item.description_ok}">{{item.description}}</span>
                </div>
              </div>
              <div class="row bottom">
                <div class="small-6 large-6 columns">
                  <a class="url" href="http://{{item.domain}}">{{item.domain}}</a>
                </div>
                <div class="small-4 large-4 columns text-right">
                  <span class="saved-on">Saved {{item.time_ago}} ago</span>
                </div>
                <div class="small-2 large-2 columns text-right">
                  <div class="row">
                    <a class="icon icon-actionable icon-read" ng-click="read(item)"></a>
                    <a class="icon icon-actionable icon-delete" ng-click="delete(item)"></a>
                    <a ng-class="{'spin': item.refreshing}" class="icon icon-actionable icon-refresh" ng-click="update(item)"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="item-content" class="reveal-modal">
      <h2 class="item-content-title"></h2>
      <div class="item-content-body"></div>
    </div>
  </div>

  <div ng-switch-when="false">
    <div class="row" id="blurb">
      <div class="large-12 columns">
        <div class="row">
          <h1>The web is full of wonders. Put them in your drawer</h1>
          <h2>Click a button, hit a keyboard shortcut, whatever you like, wherever you like</h2>
        </div>
      </div>
      <div class="large-12 columns">
        <div class="row">
          <h1>We'll organize, index, and keep your drawer clean and safe</h1>
          <h2>We're smart about it, and your privacy is always our number one concern</h2>
        </div>
      </div>
      <div class="large-12 columns">
        <div class="row">
          <h1>Search your drawer quickly, easily, happily</h1><span class="heart"></span>
          <h2>It gives you what you want, wherever you want it. Zero frustration</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-10 large-6 small-centered large-centered columns" id="sign-up-section">
        <div class="row" ng-controller="RegistrationsController">
          <div class="small-11 large-11 small-centered large-centered columns">
            <form id="sign-up-form" name="register_form">
              <div class="row input-icon email">
                <input type="text" placeholder="Email" ng-model="email" ng-change="form.email.$error.server_message=null" ng-class="{'bottom-no-corner': form.email.$error.server_message}">
                <small ng-show="form.email.$error.server_message" class="error" ng-cloak>{{form.email.$error.server_message}}</small>
              </div>
              <div class="row input-icon password">
                <input type="password" placeholder="Password" ng-model="password" ng-change="form.password.$error.server_message=null" ng-class="{'bottom-no-corner': form.password.$error.server_message}">
                <small ng-show="form.password.$error.server_message" class="error" ng-cloak>{{form.password.$error.server_message}}</small>
              </div>
              <div class="row">
                <input type="submit" class="sign-up-button" ng-click="save($event)" value="Create Free Account">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
