<!-- Navigation -->
<div class="fixed">
  <nav class="top-bar" data-options="is_hover:false">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name" id="nav-logo">
        <h1><a href="/">Drawer.io</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section" ng-switch="signedIn">
      <!-- Right Nav Section -->
      <ul class="right" ng-switch-when="true">
        <li class="divider"></li>
        <li id="notification-button"><a href="#" data-dropdown="notification-dropdown">Notification</a></li>
        <ul id="notification-dropdown" data-dropdown-content class="f-dropdown">
          <li ng-repeat="event in events" ng-switch="event.type">
            <a ng-switch-when="RegisterEvent">You joined {{event.time_ago}} ago. Welcome!</a>
            <a ng-switch-when="SaveEvent">You saved <strong>{{event.url}}</strong> {{event.time_ago}} ago.</a>
            <a ng-switch-when="DeleteEvent">You deleted <strong>{{event.url}}</strong> {{event.time_ago}} ago.</a>
            <a ng-switch-when="FollowEvent">You started to follow <strong>{{event.user}}</strong> {{event.time_ago}} ago.</a>
            <a ng-switch-when="FollowedEvent"><strong>{{event.user}}</strong> started to follow you {{event.time_ago}} ago.</a>
            <a ng-switch-when="UnfollowEvent">You unfollowed <strong>{{event.user}}</strong> {{event.time_ago}} ago.</a>
            <a ng-switch-when="UnfollowedEvent"><strong>{{event.user}}</strong> unfollowed you {{event.time_ago}} ago.</a>
          </li>
        </ul>
        <li class="divider"></li>
        <li class="has-dropdown"><a href="#" class="profile-dropdown" data-dropdown="profile-dropdown"><img ng-src="{{gravatar}}" width=55 height=55></a></li>
        <ul id="profile-dropdown" data-dropdown-content class="f-dropdown">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/clients">Clients</a></li>
          <li><a href="/follow">Follow</a></li>
          <li><a href="/feed">Feed</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
      </ul>
      <ul class="right" ng-switch-when="false">
        <li class="divider"></li>
        <li><a href="#" data-reveal-id="sign-in-modal">Sign In</a></li>
        <%# <div class="has-form"> %>
          <%# <a href="#" data-reveal-id="sign-in-modal" class="sign-in-button">Sign In</a> %>
        <%# </div> %>
      </ul>
    </section>
  </nav>
</div>

<div class="row">
  <div class="small-6 large-6 large-centered columns">
    <div id="sign-in-modal" class="reveal-modal">
      <div data-alert class="alert-box alert radius" style="line-height:1em" ng-show="login.error">{{login.error}}</div>
        <form id="sign-in-form" ng-submit="login()">
          <div class="row input-icon email">
            <input type="text" placeholder="Email" ng-model="login.email" ng-change="login.error=null" />
          </div>
          <div class="row input-icon password">
            <input type="password" placeholder="Password" ng-model="login.password" ng-change="login.error=null" />
          </div>
          <div class="row">
            <input type="Submit" value="Sign In" class="sign-in-button-modal">
          </div>
      </div>
    </div>
  </div>
</div>
